<div class="col-md-12">
  <div class="row">
    <h2 class="col-md-10 col-xs-10">
      <%= link_to @post.title, @post %>
    </h2>
    <% if @post.user == current_user %>
      <p class="col-xs-2 col-md-2 text-right" id="update_icon">
        <%= link_to edit_post_path(@post), class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-edit"></span>
          <span>Modifier</span>
        <% end %>

        <%= link_to @post, method: :delete, data: {confirm: 'Voulez vous vraiment supprimer ce post ?'}, class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
          <span>Supprimer</span>
        <% end %>
      </p>

    <% end %>
  </div>
  <p class="lead">
    Écrit par
    <%= link_to "#{@post.user}", @post.user %>
  </p>
  <p>
    <span class="glyphicon glyphicon-time"></span>
    <%= "Posté le #{@post.created_at.strftime('%d/%m/%y')}" %>
  </p>
  <hr>
  <%= image_tag @post.picture.url(:banner_post), alt: "post picture full-width", class: "center-block img-responsive" %>
  <hr>
  <p>
    <%= @post.chapeau %>
  </p>
  <p>
    <%= @post.content %>
  </p>
  <hr>
</div>
