<!DOCTYPE html>
<html>
<head>
  <title>Arnaud's blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <%= link_to "Accueil", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <div class="my-2 mx-4">
        <%= link_to 'Editer mon Profil', current_user if user_signed_in? %>
      </div>
        <% if user_signed_in? %>
          <%= "Enregistré en tant que " %>
          <%= link_to "#{current_user}", current_user, class: "nav-link" %>
        <% end %>
      <%= user_signed_in? ? link_to("Deconnexion", destroy_user_session_path, method: :delete) : link_to("Connexion", new_user_session_path) %>
    </div>
  </div>
</nav>

<div class="container mt-5 pt-2">

  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="row">
    <%= yield %>
  </div>

</div>
</body>
</html>